body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

header {
    background-color: #d60000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

.logo-text {
    font-size: 18px;
    line-height: 1.2;
    color: white;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #a80000;
}

nav a.active {
    background-color: #a80000;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
